<div class="todos">

  <button mat-icon-button class="details-button" aria-label="Подробнее" (click)="goToDetails(todo.id)">
    <mat-icon>info</mat-icon>
  </button>

  <p>Текст задачи:</p>
  <div>{{ todo.title | TodoCut }}</div>

  <p>Автор задачи:</p>
  <div>{{ todo.userId }}</div>

  <p>Задача завершена:</p>
  <div>{{ todo.completed ? "ДА" : "НЕТ" }}</div>

  <div class="button-group">
    <button mat-raised-button (click)="openEditDialog()">Редактировать</button>
    <button mat-raised-button (click)="onDeleteTodo(todo.id)">Удалить</button>
  </div>
</div>
