<div class="todo-form-title">
  <h1>Create todo form</h1>
</div>

<div class="todo-form-container">
  <form class="todo-form" [formGroup]="form" (ngSubmit)="submitForm()">
    
    <mat-form-field appearance="fill">
      <mat-label>Введите текст задачи</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-error *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)">
      Текст задачи должен быть заполнен
    </mat-error>

    <mat-form-field appearance="fill">
      <mat-label>Автор задачи</mat-label>
      <input matInput type="text" formControlName="userId" />
    </mat-form-field>
    <mat-error *ngIf="form.controls['userId'].invalid && (form.controls['userId'].dirty || form.controls['userId'].touched)">
      Поле автор должно быть заполнено
    </mat-error>

    <mat-form-field appearance="fill">
      <mat-label>Задача завершена?</mat-label>
      <mat-select formControlName="completed">
        <mat-option [value]="true">Да</mat-option>
        <mat-option [value]="false">Нет</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="form.controls['completed'].invalid && (form.controls['completed'].dirty || form.controls['completed'].touched)">
      Укажите статус задачи
    </mat-error>

    <button mat-raised-button class="create-todo-button" [disabled]="form.invalid">
      Create todo
    </button>
  </form>
</div>